{% extends 'ddt/base.html' %}

{% block content %}
    {{ form.errors }}
    <div class="ui stacked segment">
        <h4>Register to attend memorial services</h4>
        <p>
            Register here if you will attend the memorial services.
            We need to have an idea how many people are showing up,
            in order to know the size of the memorial quarters to reserve.
        </p>
        <p>
            IMPORTANT! Disable your adblock, privacy badger or similar. This registration uses captcha to prevent
            spamming.
        </p>
        <p>
            In case of problem, or need to change your registration details,
            please find a way to contact Ana or Tommi.
        </p>
        {% if settings.registration_open %}
            <div class="ui form segment">
                <form method="post">{% csrf_token %}
                    <div class="two fields">
                        <div class="field">
                            {% if form.handle.errors %}
                                <div class="ui form error">
                                    <div class="field error">
                                        {{ form.handle.label_tag }}
                                        {{ form.handle }}
                                    </div>
                                    <div class="ui error message">
                                        <div class="header">Field error</div>
                                        <p>{{ form.handle.errors }}</p>
                                    </div>
                                </div>
                            {% else %}
                                {{ form.handle.label_tag }}
                                {{ form.handle }}
                            {% endif %}
                        </div>
                        <div class="field">
                            {% if form.amount.errors %}
                                <div class="ui form error">
                                    <div class="field error">
                                        {{ form.amount.label_tag }}
                                        {{ form.amount }}
                                    </div>
                                    <div class="ui error message">
                                        <div class="header">Field error</div>
                                        <p>{{ form.amount.errors }}</p>
                                    </div>
                                </div>
                            {% else %}
                                {{ form.amount.label_tag }}
                                {{ form.amount }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            {{ form.hidden }}
                            {{ form.hidden.label_tag }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.captcha }}
                    </div>
                    {% if form.captcha.errors %}
                        <div class="ui form warning">
                            <div class="ui warning message">
                                <div class="header">Captcha missing</div>
                                <p>{{ form.captcha.errors }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="field">
                        <button type="submit" class="ui submit button">Submit</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    {% if not settings.registration_open %}
        <div class="ui segment">
            <div class="field">
                <h4>Registration closed</h4>
            </div>
        </div>
    {% endif %}
    <div class="ui segment">
        <table class="ui celled striped table unstackable compact">
            <thead>
            <tr>
                <th>#</th>
                <th>Name / Handle</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in registrations %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>
                        {% if registration.hidden %}
                            (hidden)
                        {% else %}
                            {{ registration.handle }}
                        {% endif %}
                    </td>
                    <td>{{ registration.amount }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Total: {{ count }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
