{% extends 'ddt/base.html' %}

{% block content %}

    <div class="ui stacked segment">
        <h4>RIP DDT / Accession</h4>

        <div class="ui segment">
            <img class="ui small left floated image" src="/media/3.jpg">
            <p>DDT of Accession aka Lennu has passed away 25.1.2019 and will be missed by his family and friends.</p>

            <p>Funeral day has not been set yet, and is pending a mandatory forensic autopsy. When we know, you'll
                know.</p>
            <p>You can donate to help out with burial costs. Every cent goes towards said costs,
                and every thing after that goes to his widow.</p>
            <ul class="ui bulleted list">
                <li class="item">
                    Back transfer: FI96 1107 3500 8083 85 (Payee: Satu Launonen-Tiala)
                </li>
                <li class="item">
                    PayPal <a href="https://www.paypal.me/riplennu">https://www.paypal.me/riplennu</a>
                </li>
            </ul>
        </div>
        <div class="ui segment">
            <div class="ui small images">
                <a href="/media/5.jpg"><img src="/media/5.jpg" alt="lennu"/></a>
                <a href="/media/4.jpg"><img src="/media/4.jpg" alt="lennu"/></a>
                <a href="/media/grilli1.jpg"><img src="/media/grilli1.jpg" alt="lennu"/></a>
                <a href="/media/1.jpg"><img src="/media/1.jpg" alt="lennu"/></a>
            </div>
        </div>
    </div>
{% endblock %}
