{% extends 'ddt/base.html' %}

{% block content %}

    <div class="ui stacked segment">
        <h4>RIP DDT / Accession</h4>
        <p>
            DDT of Accession aka Lennu has passed away 25.1.2019 and will be missed by his family and friends.
        </p>
        <p>
            Funeral date and place have been set: Friday 22nd February 2019 at 13:30. The chapel seats over 200 people.
        </p>
        <p>
            All of Lennus friends are welcome. Registration for memorial services is also open.
            The memorial service will happen right after the funeral, at Pub Peräkammari. More info <a href="funeral.html">here.</a>
        </p>
        <ul>
            <li>Hietaniemen Uusi Kappeli (Hietaniemi New Chapel)</li>
            <li><a href="https://www.helsinginseurakunnat.fi/artikkelit/anxdolwtt">Chapel info (in finnish)</a></li>
            <li>Address: Hietaniemenkatu 20, 00100 Helsinki</li>
            <li><a href="https://goo.gl/maps/s3wrb1jsnfJ2">Google Maps</a></li>
        </ul>

        <p class="overstrike">
            You can donate to help out with burial costs.
            Every cent goes towards said costs,
            and every thing after that goes to his widow.
        </p>
        <ul class="ui bulleted list">
            <li class="item overstrike">
                Back transfer: FI?? ???? ???? ???? ?? (Payee: ?)
            </li>
            <li class="item overstrike">
                PayPal <a href="#">Defunct</a>
            </li>
        </ul>

    </div>
{% endblock %}
