{% extends 'ddt/base.html' %}

{% block content %}
    <div class="ui stacked segment">
        <h4>Wall</h4>

        {% for writing in writings %}
            <div class="ui form segment">
                <div class="field">
                    <strong>{{ writing.handle }} </strong> <i>wrote at</i> {{ writing.created }}
                </div>
                <div class="field">
                    {{ writing.text }}
                </div>

            </div>
        {% endfor %}
        {% if settings.wall_open %}
            <div class="ui form segment">
                <form method="post">{% csrf_token %}
                    <div class="field">
                        <div class="field">
                            {{ form.handle.label_tag }}
                            {{ form.handle }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            {{ form.text.label_tag }}
                            {{ form.text }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.captcha }}
                    </div>
                    <button type="submit" class="ui submit button">Submit</button>
                </form>
            </div>
        {% else %}
            <div class="ui segment">
                <div class="field">
                    <h4>Wall writing disabled</h4>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
